/* 
    Document   : admin
    Created on : Oct 20, 2013, 6:33:41 PM
    Author     : Jesse
    Description:
        Purpose of the stylesheet follows.
*/

#main{
    margin: 20px auto;
    width: 960px;
    font-family: courier;
}

th{
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

img{
    border: 1px solid #333;
}

.lefty{
    float:left;
    clear:both;
}
.righty{
    float:right;
    clear:both;
}
.clefairy{
    clear:both;
}
.charmander{
    clear:none;
}
#warnbox{
    background-color: #FFC;
}


.header{
    font-size: 42px;
    text-align: right;
    padding: 42px 0px;
}

.headline{
    font-size: 18px;
    padding: 12px 0px;
    clear: both;
}

#galleries{
    border-spacing:0px;
    border-collapse: separate;
    width: 100%;
    margin: 42px 0px;
}


#galleries td{
    vertical-align: top;

    padding: 5px;
}

#galleries .gallery{
    padding: 3px;
    border: 1px solid #555;
}

#galleries .gallery.even{
    background-color: lightyellow;
}

#galleries .gallery.odd{
    background-color: lightcyan;
}

#galleries .gallery.new{
    background-color: lightpink;
}

#galleries .gallery select{
	height: 24px;
	margin: 2px;
	padding: 3px;
}
#galleries .gallery input, #galleries .gallery textarea{
	height: 16px;
	margin: 2px;
	padding: 3px;
}

#galleries .gallery .linkdesc textarea{
	height: 179px;
	margin: 5px;
	width: 314px;
	font-family: sans-serif;
}
#galleries .gallery .linkdesc input{
	width: 320px;
}


#galleries .gallery .nameimag input{
	width: 270px;
}
#galleries .gallery .nameimag img{
	margin: 5px;
	width: 270px;
}





#galleries textarea{
    width: 360px;
}

#galleries input[name="position"]{
    width: 42px;
}

#galleries div{
    background-color: #EEE;
}

#galleries td .viewImages{
	width: 120px;
	display: block;
	line-height: 24px;
}

#galleries textarea, #galleries input, #galleries div{
    padding: 3px;
    margin: 2px;
    border: 1px solid #aaa;
    display: block;
    height: 12pt;
}

.hpphoto{
    width: 314px;
    margin: 3px;
    cursor: pointer;
    font-size: 12px;
}

.hpphoto.out img:hover{
    background-color: lightgreen;
}

.hpphoto.in img:hover{
    background-color: lightcoral;
}

.hpphoto img{
    width: 300px;
    border: 1px solid #333;
    padding: 6px;
}

.hpphoto input{
    width: 42px;
}
